#display {
  overflow: hidden;
  width: 100%;
  height: 40px;
  font-size: 150%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

#calcBody {
  width: 337px;
  margin-left: auto;
  margin-right: auto;
}

button {
  width:80px;
  height: 80px;
  font-size: 200%;
  color: #400A00;
  background: #BF1E00;
}
button.reset {
  width: 335px;
}
